*{
    margin : 0px;
}

body{
    min-height:100vh;

    display : flex;
    flex-direction : column;
}

section
{
    flex-grow : 2;
    display : flex;
    justify-content: center;
    align-items : center;
    border : 2px solid black;
    position : relative;
}

section span{

    width : 100px;
    height : 100px;
    background : blue;
    
    position : absolute;
    top : -10px;
    right : -10px;

}

nav,footer
{
    flex-shrink: 0;
}

#HeadLogo
{
    width : auto;
    height : auto;
    margin-right :50px;
    padding-top : 8px;
    color :black;
    background : slategray;
    font-size: 20px;
    font-weight : bold;
}

nav ul {
    display: flex;
    flex-direction : row;
    justify-content: flex-start;    
}

nav ul li{
    list-style : none;
    margin : 2px;
    padding : 10px;
    color : brown;
}

#logo
{
    width : 80vw;
    height : 200px;
    background : red;
    position : relative;
}



.layer
{
    padding : 10px 5px;
    border-bottom : 2px solid gray;
    background : rgb(219,219,219);
    width : 100%;
}

#inside form
{
    display : flex;
    flex-direction : column;
}



